html {
    scroll-behavior: smooth;
    cursor: url("../assets/cursor 1.png");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header:nth-of-type(1) {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo {
        margin-left: -96px;
        font-family: "Poppins", sans-serif;
        font-size: 17pt;
    }

    .menu {
        .nav-ul {
            list-style: none;
            font-family: "Poppins", sans-serif;
            font-size: 17pt;
            width: 500px;
            display: flex;
            justify-content: space-around;
        }
    }
}
.hero {
    display: flex;
    width: 100%;
    height: 650px;
    justify-content: space-around;
    align-items: center;

    .hero-content {
        margin-left: 170px;
        height: 400px;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;

        .hero-title {
            h1 {
                font-size: 40pt;
                line-height: 1.4;
                margin-bottom: -30px;
            }

            span {
                color: rgb(146, 146, 146);
            }
        }

        .hero-par {
            p {
                color: rgb(85, 85, 85);
                font-family: "Poppins", sans-serif;
                font-size: 21pt;
                width: 680px;
                text-align: justify;
            }
        }
        .cta {
            color: white;
            cursor: pointer;
            padding: 0.8em 1em;
            background-color: #0076ff;
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
            box-shadow: 0 6px 20px rgba(0,118,255,0.23);
            text-decoration: none;
        }
        
    }
    .hero-img {
        margin-right: 230px;
    }
}

.work {
    padding: 30px 0;
   
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 28pt;
        margin-bottom: 130px;
    }

    .app {
        width: 40%;
        display: flex;
        justify-content: space-around;

        img {
            margin: 0;
            padding: 0;
            margin-top: -100px;
            z-index: -1;
            
            width: 780px;
            height: 550px;
            border-radius: 10px;
            
        }
        .app-resume {
            display: flex;
            justify-content: space-around;
            height: 300px;
            flex-direction: column;

            h2 {
                font-family: "Montserrat", sans-serif;
                font-size: 28pt;
            }
            p {
                font-family: "Poppins", sans-serif;
                width: 450px;
                font-size: 18pt;
            }
            .btns {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
.btn-demo {
    width: 130px;
    background: transparent;
    border: none;
    font-size: 15pt;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    span{
        
        position: relative;
        left: 20px;
        color: black;

        a{
            color: black;
            text-decoration: none;
        }
    }
    position: relative;
    height: 40px;

    &::before {
        outline: none;
        opacity: 1;
        content: "";
        width: 20px;
        position: absolute;
        top: 12.5px;
        z-index: -1;
        left: 5px;
        height: 20px;
        display: block;
        background: #51adef;
        transition: all 250ms ease-in;
    }

    &:hover {
        &::before {
            width: 160px;
        }
    }
}
.btn-code {
    outline: none;
    width: 150px;
    border: none;
    position: relative;
    background: none;
    display: flex;

    .text-btn {
        color: black;
        font-size: 15pt;
        padding-left: 30px;
        font-family: "Segoe UI", sans-serif;
        font-weight: bold;

        a{
            color: black;
            text-decoration: none;
        }
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;

        width: 20px;
        height: 20px;
        background: url("https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/github.svg");
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid gray;
    padding: 1em;

    h2{
        font-size: 13pt;
    }

    .contact{
        img:nth-of-type(1){
            width: 30px;
            height: 30px;
        }
    }
}

.contact-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    form{
        border: 1px solid gray;
        border-radius: 3px;
    }
}
