html {
  scroll-behavior: smooth;
  cursor: url("../assets/cursor 1.png");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header:nth-of-type(1) {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header:nth-of-type(1) .logo {
  margin-left: -96px;
  font-family: "Poppins", sans-serif;
  font-size: 17pt;
}

header:nth-of-type(1) .menu .nav-ul {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 17pt;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 650px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-content {
  margin-left: 170px;
  height: 400px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.hero .hero-content .hero-title h1 {
  font-size: 40pt;
  line-height: 1.4;
}

.hero .hero-content .hero-title span {
  color: #929292;
}

.hero .hero-content .hero-par p {
  font-family: "Poppins", sans-serif;
  font-size: 23pt;
  width: 680px;
  text-align: justify;
}

.hero .hero-content .cta {
  color: white;
  cursor: pointer;
  padding: 1em 2em;
  background-color: #51adef;
}

.hero .hero-content .cta2 {
  cursor: pointer;
  color: #51adef;
  padding-left: 1em;
}

.hero .hero-img {
  margin-right: 230px;
}

.work {
  padding: 30px 0;
  margin: 30px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 28pt;
  margin-bottom: 130px;
}

.work .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.work .app img {
  width: 630px;
  height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(0, 0, 0, 0.2);
}

.work .app .app-resume {
  margin-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work .app .app-resume h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28pt;
}

.work .app .app-resume p {
  font-family: "Poppins", sans-serif;
  width: 500px;
  font-size: 18pt;
}

.work .app .app-resume .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-demo {
  width: 130px;
  background: transparent;
  border: none;
  font-size: 15pt;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  position: relative;
  height: 40px;
}

.btn-demo span {
  position: relative;
  left: 20px;
  color: black;
}

.btn-demo span a {
  color: black;
  text-decoration: none;
}

.btn-demo::before {
  outline: none;
  opacity: 1;
  content: "";
  width: 20px;
  position: absolute;
  top: 12.5px;
  z-index: -1;
  left: 5px;
  height: 20px;
  display: block;
  background: #51adef;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.btn-demo:hover::before {
  width: 160px;
}

.btn-code {
  outline: none;
  width: 150px;
  border: none;
  position: relative;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-code .text-btn {
  color: black;
  font-size: 15pt;
  padding-left: 30px;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
}

.btn-code .text-btn a {
  color: black;
  text-decoration: none;
}

.btn-code::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: url("https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/github.svg");
}
/*# sourceMappingURL=index.css.map */